#time_selector .track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px; }

#time_selector .track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px; }

#time_selector .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
  cursor: grab; }

#package_histogram .selected {
  opacity: 0.8; }

#package_protocols .selected {
  opacity: 0.8; }

